.App {
  text-align: center;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKwGsZRuTMLNIRZwYUOhw31AkPzzreosGrfw&usqp=CAU");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}